.favorite-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -35px;
    right: 15px;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    background: $grey-100;

}

.header-place__place-icon {
    margin-right: 5px; 
}
