.favorite-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -35px;
    right: 15px;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    background: $grey-100;

    .fa {
        font-size: 45px;
        color: $custom-gold;
    }
}

.header-place__place-icon {
    margin-right: 5px;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    text-align: center;

    width: 20%;
    padding: 0px 5px;
    font-size: 30px;

    color: $custom-gold;
}

.map-adress__icon {
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    position: absolute;
    bottom: 5px;
    right: 5px;

    border-radius: 50%;

    text-align: center;

    background: white;
    color: $custom-gold;
}
