* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

hr {
    width: 100%;
    margin: 1.08em auto;
    border: 0;
    height: 1px;

    background: $grey-400;
}

ul {
    padding: 0px;
    list-style: none;
}
