* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

hr {
    width: 85%;
    margin: 1.08em auto;
}

ul {
    padding: 0px;
    list-style: none;
}

h1 {
    margin: 10px;
    padding: 0px 15px;

    text-align: center;
    color: #cb8a19;
}
