.container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: $grey-300;
}

.container--middle {
    justify-content: center;
    align-content: center;
}

.content-box {
    background: $grey-100;

    width: 100%;
    padding: 10px 15px;
}

.tool-box {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;

    width: 100%;
}

.comment-box {
    width: 100%;

    margin-top: 25px;
    margin-bottom: 25px;

    color: $custom-gold;
}

.map-box {
    position: relative;
}
