.home-image-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 250px;

    position: relative;

    background: url('http://dev.4all.com:3003/cidade.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
